#countdownwrapper
	.row.centrediv
		.medium-6.columns.centrediv
			#timer
				#clockdiv
					div
						span.days
						.smalltext Days
					div
						span.hours
						.smalltext Hours
					div
						span.minutes
						.smalltext Minutes
					div
						span.seconds
						.smalltext Seconds